$darkColor: #484848;

footer{
  height: 50px;
  background: $darkColor;
}

footer{
  display: flex!important;
  align-items: center;
  justify-content: center;
  position: relative;

  .footer-nav{
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
      background: darken($darkColor, 15%);
      margin: 5px;
      border-radius: 5px;
      text-align: center;
      width: 100px;

      &:hover{
        background: darken($darkColor, 8%);
      }

      a{
        color: #fff;
        width: 100%;
        height: 100%;
        display: table;
        font-size: 11px;
        padding-top: 2px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;

        i{
          font-size: 17px;
          display: table;
          width: 100%;
          margin-bottom: 2px;

          &.remove-folder{
            position: absolute;
            top: 2px;
            right: 2px;
            width: auto;
            font-size: 12px;
            color: #ce0101;
            cursor: pointer;
          }
        }

        &.bb-folder{
          color: #efc606;
        }
      }
    }
  }

  ul.bb-binned-icons {
    position: absolute;
    left: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      background: #efc606;
      color: #000;
      width: 40px;
      display: table;
      text-align: center;
      font-size: 25px;
      line-height: 40px;
      border-radius: 50%;
    }
  }

  .bb-folder-icons-bar {
    background: #6b6b6b;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 48px;
    z-index: 1;
  }
}

.bb-pin-page {
  position: absolute;
  right: 10px;

  a {
    color: #000;
    background: #efc705;
    width: 50px;
    display: table;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 7px;

    &:hover, &:active, &:focus{
      background: #caa804;
      color: #000;
    }
  }
}

.bb-bin-dialog{
  position: absolute;
  bottom: 50px;
  width: 320px;
  max-width: 100%;
  background: #fff;
  padding: 10px;
  border: 1px solid #cacaca;
  right: 0;
  border-bottom: 0;
  z-index: 22;
}

@media (max-width: 991px) and (min-width: 768px),
(max-width: 767px)
{

  footer{
    .footer-nav{
      li{
        width: auto;
        padding: 0 10px;

        a{

          i{
            line-height: 37px;
            font-size: 25px;
          }
        }
      }
    }
  }

}