header {
  height: 50px;
  background: #484848; }

header .dropdown {
  margin-top: 8px;
  margin-right: 10px; }
header .bb-side-menu {
  position: fixed;
  width: 90%;
  max-width: 400px;
  height: calc(100vh - 98px);
  top: 50px;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 99999;
  padding: 20px; }
  header .bb-side-menu.not-visible {
    visibility: hidden; }
  header .bb-side-menu .bb-side-menu-item {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: table;
    background: #222;
    text-align: center;
    padding: 5px;
    margin: 10%;
    border-radius: 5px;
    margin: 10px 0; }
    header .bb-side-menu .bb-side-menu-item:hover {
      background: #3c3c3c; }
    header .bb-side-menu .bb-side-menu-item i {
      font-size: 35px;
      display: table;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px; }
    header .bb-side-menu .bb-side-menu-item span {
      font-size: 12px; }
header .brand {
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  margin-left: 20px;
  font-size: 20px; }
  header .brand a {
    color: #fff;
    margin-right: 10px; }
  header .brand img {
    max-height: 40px;
    margin-top: -6px; }

footer {
  height: 50px;
  background: #484848; }

footer {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative; }
  footer .footer-nav {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer .footer-nav li {
      background: #222222;
      margin: 5px;
      border-radius: 5px;
      text-align: center;
      width: 100px; }
      footer .footer-nav li:hover {
        background: #343434; }
      footer .footer-nav li a {
        color: #fff;
        width: 100%;
        height: 100%;
        display: table;
        font-size: 11px;
        padding-top: 2px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative; }
        footer .footer-nav li a i {
          font-size: 17px;
          display: table;
          width: 100%;
          margin-bottom: 2px; }
          footer .footer-nav li a i.remove-folder {
            position: absolute;
            top: 2px;
            right: 2px;
            width: auto;
            font-size: 12px;
            color: #ce0101;
            cursor: pointer; }
        footer .footer-nav li a.bb-folder {
          color: #efc606; }
  footer ul.bb-binned-icons {
    position: absolute;
    left: 10px;
    list-style: none;
    padding: 0;
    margin: 0; }
    footer ul.bb-binned-icons li {
      float: left;
      margin-right: 10px; }
      footer ul.bb-binned-icons li:first-child {
        margin-right: 20px;
        position: relative; }
        footer ul.bb-binned-icons li:first-child a {
          border-radius: 50%; }
          footer ul.bb-binned-icons li:first-child a i {
            font-size: 25px; }
        footer ul.bb-binned-icons li:first-child:after {
          content: "";
          position: absolute;
          height: 20px;
          width: 2px;
          background: #717171;
          right: -10px;
          top: 12px; }
    footer ul.bb-binned-icons a {
      background: #efc606;
      color: #000;
      width: 40px;
      display: table;
      text-align: center;
      font-size: 25px;
      line-height: 40px;
      border-radius: 7px; }
      footer ul.bb-binned-icons a i {
        font-size: 21px; }
  footer .bb-folder-icons-bar {
    background: #6b6b6b;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 48px;
    z-index: 1; }

.bb-pin-page {
  position: absolute;
  right: 10px; }
  .bb-pin-page a {
    color: #000;
    background: #efc705;
    width: 50px;
    display: table;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 7px; }
    .bb-pin-page a:hover, .bb-pin-page a:active, .bb-pin-page a:focus {
      background: #caa804;
      color: #000; }

.bb-bin-dialog {
  position: absolute;
  bottom: 50px;
  width: 320px;
  max-width: 100%;
  background: #fff;
  padding: 10px;
  border: 1px solid #cacaca;
  right: 0;
  border-bottom: 0;
  z-index: 22; }

@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) {
  footer .footer-nav li {
    width: auto;
    padding: 0 10px; }
    footer .footer-nav li a i {
      line-height: 37px;
      font-size: 25px; } }
.bb-menu-container {
  padding: 20px 0;
  overflow: hidden; }
  .bb-menu-container .bb-menu-settings-note {
    padding: 5px 10px; }
    .bb-menu-container .bb-menu-settings-note small {
      margin-right: 20px; }
  .bb-menu-container [data-display=show] .bb-what-to-show {
    display: none; }
  .bb-menu-container .bb-roles-list a {
    text-decoration: none; }
    .bb-menu-container .bb-roles-list a button {
      margin-left: 10px;
      margin-right: 10px; }
  .bb-menu-container .bb-roles-list .list-group-item .btn-group {
    margin: 0 10px; }
  .bb-menu-container ol {
    list-style: none;
    padding: 0;
    margin: 0; }
    .bb-menu-container ol li.ui-draggable-dragging {
      z-index: 999999;
      width: calc(100% - 60px);
      opacity: 0.9; }
      .bb-menu-container ol li.ui-draggable-dragging .bb-add-to-menu {
        display: none; }
    .bb-menu-container ol li .level-1 {
      margin-left: 20px; }
    .bb-menu-container ol li .level-2 {
      margin-left: 40px; }
    .bb-menu-container ol li .level-3 {
      margin-left: 60px; }
    .bb-menu-container ol.bb-sortable-static .bb-menu-actions .bb-menu-delete,
    .bb-menu-container ol.bb-sortable-static .bb-menu-actions .bb-menu-collapse:not(.group-expander) {
      display: none; }
    .bb-menu-container ol.bb-sortable-static .bb-add-to-menu {
      color: #a2a2a2;
      background: #dedede;
      width: 40px;
      line-height: 30px;
      margin-top: -5px;
      margin-right: -10px;
      text-align: center; }
    .bb-menu-container ol.bb-sortable-group > .ui-draggable-dragging {
      width: calc(100% - 30px) !important; }
    .bb-menu-container ol ol:not(.bb-sortable-static) {
      margin-left: 20px; }
  .bb-menu-container .bb-menu-item {
    margin-bottom: 6px;
    border: 1px solid #dcdcdc;
    border-radius: 4px; }
    .bb-menu-container .bb-menu-item .bb-menu-item-body {
      padding: 10px;
      background: #fff;
      border-radius: 0 0 4px 4px; }
  .bb-menu-container .bb-menu-item-title {
    padding: 10px 15px;
    color: #333;
    background-color: #fafafa;
    border-bottom: 1px solid #dcdcdc;
    cursor: move;
    border-radius: 4px 4px 0 0; }
    .bb-menu-container .bb-menu-item-title i {
      width: 20px; }
    .bb-menu-container .bb-menu-item-title a.bb-menu-collapse {
      display: table;
      float: right;
      width: 40px;
      text-align: center;
      line-height: 40px;
      margin-top: -10px;
      margin-right: -15px;
      background: #e8e8e8;
      border-radius: 0 4px 4px 0;
      margin-left: 15px;
      color: #a0a0a0;
      font-size: 20px; }
    .bb-menu-container .bb-menu-item-title a.bb-menu-delete {
      color: rgba(208, 6, 6, 0.86); }
  .bb-menu-container .bb-menu-item-body {
    display: none; }
  .bb-menu-container .bb-menu-area {
    min-height: 50px; }
    .bb-menu-container .bb-menu-area .panel {
      margin-bottom: 6px; }
    .bb-menu-container .bb-menu-area .bb-add-to-menu {
      display: none; }
    .bb-menu-container .bb-menu-area:empty {
      border: 1px dashed #c0c0c0; }
    .bb-menu-container .bb-menu-area:empty:after {
      content: "Drop Menu Items Here";
      color: #bdbdbd;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 50px; }
    .bb-menu-container .bb-menu-area:not(:empty) {
      padding: 10px; }
  .bb-menu-container .panel-heading.menu-panel {
    display: inline-table;
    width: 100%; }
    .bb-menu-container .panel-heading.menu-panel h3 label {
      font-size: 14px;
      margin-right: 10px; }
    .bb-menu-container .panel-heading.menu-panel h3 input {
      border: 1px solid #dfdfdf;
      text-indent: 5px;
      padding: 5px 0;
      width: 250px; }

/* Pages Bar */
#pages-bar {
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
  border-top: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center; }
  #pages-bar .pages-list {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #pages-bar .pages-list li {
      max-width: 100px;
      margin-right: 10px;
      position: relative; }
      #pages-bar .pages-list li a {
        display: table;
        width: 100%;
        height: 100%; }
        #pages-bar .pages-list li a:hover .selection-bar, #pages-bar .pages-list li a.selected .selection-bar {
          background: #7f7f7f; }
        #pages-bar .pages-list li a:hover input, #pages-bar .pages-list li a.selected input {
          color: #7f7f7f; }
      #pages-bar .pages-list li .selection-bar {
        height: 5px;
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.09); }
      #pages-bar .pages-list li input {
        color: rgba(0, 0, 0, 0.45);
        border: none;
        width: 100%;
        margin-top: 3px;
        font-size: 14px;
        cursor: pointer; }
        #pages-bar .pages-list li input:read-only {
          background: transparent; }
  #pages-bar .add-page {
    position: absolute;
    right: 10px; }

.add-widget {
  position: absolute;
  right: 0;
  background: #e2e2e2;
  padding: 10px;
  z-index: 1111; }

.widgets-container {
  width: 100%;
  height: calc(100vh - 150px);
  top: 0;
  padding: 20px;
  overflow: auto; }
  .widgets-container .grid-stack-item-content {
    overflow: hidden !important; }
    .widgets-container .grid-stack-item-content .panel {
      height: 100%; }
      .widgets-container .grid-stack-item-content .panel .panel-body {
        height: calc(100% - 38px);
        overflow: hidden; }
      .widgets-container .grid-stack-item-content .panel .panel-title {
        height: 17px; }

.ui-resizable-autohide > .remove-widget {
  display: none; }

.remove-widget {
  position: absolute !important;
  top: 12px !important;
  right: 10px;
  cursor: pointer;
  color: #a70f0f; }

.body-content {
  height: calc(100vh - 100px);
  overflow: auto;
  position: relative;
  width: 100%; }

body {
  overflow: hidden; }

/*# sourceMappingURL=app.css.map */
