<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/caf3f0eefa.css">

    <link rel="stylesheet" href="bower_components/gridstack/dist/gridstack.css"/>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/gridstack/dist/gridstack.all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<header>
    <div class="brand pull-left">
        <a href="javascript:" class="bb-toggle-side-menu"><i class="fa fa-bars"></i></a>
        <img src="http://tawfik.bootydev.co.uk/images/logo/wwf-logo-design.jpg" alt="" />
        <small>BootyDev9</small>
        <!--<img src="{{url(BBgetSiteLogo())}}" alt="" />-->
        <!--<small class="text-muted">{{BBgetSiteName()}}</small>-->
    </div>
    <div class="pull-right">
        Unit
    </div>

    <div class="bb-side-menu not-visible">
        <div class="row">
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-smile-o"></i> <span>Uploads</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-folder-open"></i> <span>Developers</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-users"></i> <span>Users</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-film"></i> <span>Media</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-cog"></i> <span>Manage</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-hand-lizard-o"></i> <span>Frameworks</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-thumbs-o-up"></i> <span>Studios</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-gavel"></i> <span>AutoValidator</span></a>
            </div>
            <div class="col-xs-4">
                <a href="" class="bb-side-menu-item"><i class="fa fa-anchor"></i> <span>Blog</span></a>
            </div>
        </div>
    </div>
</header>

<script>
    jQuery(function ($){
        var sideMenu = $('.bb-side-menu');
        var menuWidth = $('.bb-side-menu').outerWidth();

        sideMenu.css('left', -menuWidth).removeClass("not-visible");

        $('.bb-toggle-side-menu').clickToggle(function (){
            sideMenu.animate({
                left: 0
            });
        }, function (){
            sideMenu.animate({
                left: -menuWidth
            });
        });
    });

    (function($) {
        $.fn.clickToggle = function(func1, func2) {
            var funcs = [func1, func2];
            this.data('toggleclicked', 0);
            this.click(function() {
                var data = $(this).data();
                var tc = data.toggleclicked;
                $.proxy(funcs[tc], this)();
                data.toggleclicked = (tc + 1) % 2;
            });
            return this;
        };
    }(jQuery));
</script>

<section class="body-content">
    <div ng-view></div>
</section>

<link rel="stylesheet" href="css/fontawesome-iconpicker.min.css">
<script src="https://unpkg.com/vue"></script>
<script src="js/fontawesome-iconpicker.min.js"></script>
<footer>
    <!-- Pinned Icons -->
    <ul class="bb-binned-icons">
        <li>
            <a href=""><i class="fa fa-home"></i></a>
        </li>
    </ul>

    <!-- Footer Icons -->
    <ul class="footer-nav">
        <li v-for="link in links" v-if="!link.parent">
            <a :href="link.url" v-if="link.title">
                <i class="fa" :class="link.icon"></i>
                <span class="hidden-xs hidden-sm">{{ link.title }}</span>
            </a>

            <a href="javascript:" v-if="link.isFolder" v-on:click="showFolderIconsFn(link.folderTitle)">
                <i class="fa fa-folder"></i>
                <span class="hidden-xs hidden-sm">{{ link.folderTitle }}</span>
                <i class="fa fa-close remove-folder" v-on:click="removeFolder(link.folderTitle)"></i>
            </a>
        </li>
    </ul>

    <!-- Folder icons -->
    <div class="bb-folder-icons-bar" v-if="showFolderIcons">
        <ul class="footer-nav">
            <li v-for="link in links" v-if="link.title && link.parent === openedFolder">
                <a :href="link.url">
                    <i class="fa" :class="link.icon"></i>
                    <span class="hidden-xs hidden-sm">{{ link.title }}</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Pin Button -->
    <div class="bb-pin-page">
        <a href="javascript:" v-on:click="openLinkPopup">
            <i class="fa fa-thumb-tack"></i>
        </a>
    </div>

    <!-- Pin Dialog -->
    <div class="bb-bin-dialog" v-show="showDialog">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Title</div>
                <input type="text" class="form-control input-sm" v-model="defaultLink.title">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Icon</div>
                <input type="text" data-placement="top" class="form-control input-sm icp icp-auto" v-model="defaultLink.icon">
                <div class="input-group-addon"><i class="fa" :class="defaultLink.icon"></i></div>
            </div>
        </div>

        <div class="form-group" v-if="!inserted">
            <label>
                <input type="checkbox" v-model="defaultLink.insertInFolder" />
                Insert in folder
            </label>
        </div>

        <div class="form-group" v-if="defaultLink.insertInFolder">
            <div class="input-group">
                <div class="input-group-addon">Select Folder</div>
                <select class="form-control" v-model="defaultLink.selectedFolder">
                    <option value=""></option>
                    <option :value="folder.folderTitle" v-for="folder in links" v-if="folder.isFolder">
                        {{folder.folderTitle}}
                    </option>
                    <option value="new">New Folder</option>
                </select>
            </div>
        </div>

        <div class="form-group" v-if="defaultLink.insertInFolder && defaultLink.selectedFolder === 'new'">
            <div class="input-group">
                <div class="input-group-addon">Folder Title</div>
                <input type="text" class="form-control input-sm" v-model="defaultLink.folderTitle">
            </div>
        </div>

        <div v-if="!inserted">
            <button class="btn btn-primary btn-xs" v-on:click="pinCurrentLink">Pin Current Page</button>
            <button class="btn btn-warning btn-xs pull-right" v-on:click="showDialog=false">Cancel</button>
        </div>

        <div v-if="inserted">
            <button class="btn btn-primary btn-xs" v-on:click="editCurrentLink">Edit</button>
            <button class="btn btn-danger btn-xs" v-on:click="removeCurrentLink">Remove</button>
            <button class="btn btn-warning btn-xs pull-right" v-on:click="showDialog=false">Cancel</button>
        </div>

    </div>
</footer>

<script>
    var FooterVue = new Vue({
        el: 'footer',
        data: {
            links: [],
            defaultLink: {},
            showDialog: false,
            showFolderIcons: false,
            inserted: false,
            openedFolder: ''
        },
        methods: {
            pinCurrentLink: function (){
                var notEntered = true;
                var linkToInsert = {};
                var $this = this;

                $(this.links).each(function (i, link){
                    if(link.url === location.href) notEntered=false;
                });

                if(notEntered) {
                    linkToInsert = this.defaultLink;

                    // Insert in folder
                    if(linkToInsert.insertInFolder){

                        // New folder
                        if(linkToInsert.selectedFolder === 'new'){
                            linkToInsert.isFolder = true;

                            this.links.push(linkToInsert);

                            this.links.push({
                                title: linkToInsert.title,
                                icon: linkToInsert.icon,
                                url: linkToInsert.url,
                                parent: linkToInsert.folderTitle
                            });
                        }

                        // Select folder
                        if(linkToInsert.selectedFolder !== 'new' && linkToInsert.selectedFolder !== ''){
                            var $links = getLinks();
                            $($links).each(function (i, $link){
                                if($link.isFolder && $link.folderTitle === linkToInsert.selectedFolder){
                                    $this.links.push({
                                        title: linkToInsert.title,
                                        icon: linkToInsert.icon,
                                        url: linkToInsert.url,
                                        parent: linkToInsert.selectedFolder
                                    });
                                }
                            });
                        }

                        delete linkToInsert.insertInFolder;
                        delete linkToInsert.selectedFolder;
                        delete linkToInsert.url;
                        delete linkToInsert.title;
                        delete linkToInsert.icon;
                    }else{
                        this.links.push(linkToInsert);
                    }

                }

                this.showDialog = false;
                this.inserted = true;

                saveLinks(this.links);
            },
            setDefaultLink: function (){
                var dLink = {
                    title: document.title,
                    icon: 'fa-home',
                    url: location.href
                };

                FooterVue.links = getLinks();

                $(FooterVue.links).each(function (i, link){
                    if(link.url === location.href) dLink = link;
                });

                this.defaultLink = dLink;
            },
            openLinkPopup: function (){
                checkLinksAndIcons();
                this.showDialog=!this.showDialog;
            },
            removeCurrentLink: function (){
                var links = [];
                $(this.links).each(function (i, link){
                    if(link.url !== location.href) links.push(link);
                });

                saveLinks(links);
                checkLinksAndIcons();
            },
            editCurrentLink: function (){
                var $this = this;
                var linkObject = {
                    title: $this.defaultLink.title,
                    icon: $this.defaultLink.icon,
                    url: $this.defaultLink.url
                };

                var links = [];
                $(this.links).each(function (i, link){
                    if(link.url === location.href) {
                        if(link.parent) linkObject.parent = link.parent;
                        links.push(linkObject);
                    }else{
                        links.push(link);
                    }
                });

                this.links = links;
                saveLinks(links);
                checkLinksAndIcons();
                this.showDialog = false;
            },
            showFolderIconsFn: function (title){
                this.showFolderIcons = !this.showFolderIcons;
                this.openedFolder = title;
            },
            removeFolder: function (folder){
                var links = [];
                $(this.links).each(function (i, link){
                    if(link.folderTitle !== folder || link.parent !== folder) links.push(link);
                });

                console.log(folder);

                saveLinks(links);
                checkLinksAndIcons();
            }
        }
    });

    FooterVue.setDefaultLink();
    FooterVue.links = getLinks();
    checkLinksAndIcons();

    $(window).on('hashchange', function() {
        checkLinksAndIcons();
    });

    $('.icp-auto').iconpicker();

    $('.icp').on('iconpickerSelected', function(e) {
        FooterVue.defaultLink.icon = e.iconpickerValue;
    });

    function checkLinksAndIcons(){
        var notEntered = true;
        FooterVue.links = getLinks();

        $(FooterVue.links).each(function (i, link){
            if(link.url === location.href) notEntered=false;
        });

        FooterVue.inserted = !notEntered;
        FooterVue.setDefaultLink();
    }

    function saveLinks(links){
        localStorage.setItem("FooterLinks", JSON.stringify(links));
    }

    function getLinks(){
        var links = localStorage.getItem("FooterLinks");
        if(!links) links = '[]';
        return JSON.parse(links);
    }
</script>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/gridstack-angular/dist/gridstack-angular.min.js"></script>
<script src="bower_components/angular-swipe/dist/angular-swipe.min.js"></script>
<script src="app.js"></script>
<script src="dashboard/dashboard.js"></script>
</body>
</html>
