<div class="dashboard-container" ng-controller="dashboardCtrl">

    <div class="widgets-container">
        <h1>{{currentPage.title}}</h1>
        <div class="widget-box" ng-repeat="widget in widgets">
            <h2>{{widget.title}}</h2>
            <p>{{widget.content}}</p>
        </div>

        <div class="add-widget">
            <form ng-submit="addWidget()">
                <input type="text" ng-model="widget.title" placeholder="Widget Title">
                <textarea ng-model="widget.content" cols="30" rows="10"
                          placeholder="Widget Content"></textarea>
                <input type="submit" value="Add Widget">
            </form>

            <form ng-submit="addPage()">
                <input type="text" ng-model="page.title" placeholder="Page Title">
                <input type="text" ng-model="page.slue" placeholder="Page Slug">
                <input type="submit" value="Add Page">
            </form>
        </div>
    </div>

    <div id="pages-bar">
        <ul class="pages-list">
            <li ng-repeat="page in pages">
                <a href="#!/dashboard/{{page.slue}}">
                    <div class="selection-bar"></div>
                    <input spellcheck="false" value="{{page.title}}" disabled="">
                </a>
            </li>
        </ul>
    </div>

</div>