<div class="dashboard-container">

    <div class="add-widget">
        <div class="form-group">
            <select ng-model="widgetSelector" class="form-control">
                <option value="chart">Chart Widget</option>
                <option value="weather">Weather Widget</option>
            </select>
        </div>
        <button class="btn btn-primary btn-sm" ng-click="addWidget()">Add Widget</button>
    </div>

    <div id="dashboard-pages">
        <!-- Wrapper for slides -->
        <div class="widgets-container">
            <div class="grid-stack"></div>
        </div>
    </div>

    <div id="pages-bar" ng-swipe-left="nextPage()" ng-swipe-right="previousPage()">
        <ul class="pages-list">
            <li ng-repeat="page in pages">
                <a ng-href="#!/dashboard/{{page.slug}}" ng-class="{selected: isPageActive(page.slug)}" ng-mouseenter="pageHovered(page.slug)" class="destroyer">
                    <div class="selection-bar"></div>
                    <input spellcheck="false" value="{{page.title}}" readonly="" ng-blur="changePageTitle($event, page)" ng-keypress="changePageTitle($event, page)" ng-dblclick="enablePageEdit($event)">
                </a>
            </li>
        </ul>

        <div class="add-page" data-toggle="tooltip" data-placement="left" title="Insert New Page">
            <a class="btn btn-sm btn-default" ng-click="addPage()">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>

</div>